# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/